@{
    ViewBag.Title = "Home";
}

<header class="col-xs-12">
    <h2 class="col-xs-12 text-center">Welcome to this garage webb application!</h2>
</header>

<content class="col-xs-12">
    <article class="col-sm-6 col-xs-12">
        <h3><i class="fa fa-car" aria-hidden="true"></i> This is who we are!</h3>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Aliquam sed nulla et est egestas dictum ac quis nisi. Nam et justo iaculis, pharetra libero ut, laoreet tortor. Sed et scelerisque dui, at venenatis ligula. Praesent rutrum velit ipsum, vitae sodales leo placerat quis. Nulla facilisi. Nunc placerat nulla libero, nec mattis massa convallis ut. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Duis risus turpis, faucibus eget nisi laoreet, pellentesque pretium tortor. Mauris scelerisque eget neque eget varius. Donec euismod nec velit in rhoncus.</p>
        <p>Sed porta, quam nec laoreet rhoncus, dui massa laoreet tellus, eget dapibus augue sem sed arcu. Aliquam ultrices quis arcu sit amet tempor. Nulla ut consequat sem, eget porta massa. Sed nec nunc aliquam, sagittis turpis in, tincidunt mauris. Sed eget malesuada velit, sed convallis quam. Phasellus nec egestas lacus. Fusce in leo massa. Suspendisse a quam quis magna tristique auctor lacinia vitae turpis. Nunc nec fermentum orci. Integer fermentum efficitur est, nec lacinia ligula consectetur quis. Praesent suscipit posuere finibus. Duis tincidunt convallis ex. Duis eget eros vitae lacus euismod congue quis pretium ligula.</p>
        <p>Phasellus ac ipsum eget mauris gravida egestas. Sed tellus leo, ultrices ut dictum at, tempor nec nibh. Vivamus vestibulum tristique eros at porttitor. Integer justo risus, commodo et diam eget, aliquet varius tellus. Fusce felis est, porta ut semper ut, facilisis ut tellus. Vestibulum pretium accumsan odio, vel varius risus mattis in. Mauris pretium eu lorem sit amet tincidunt. Nam quis auctor est, vel dapibus sapien.</p>
    </article>

    <article class="col-sm-5 col-sm-offset-1 col-xs-12 col-xs-offset-0">
        <div class="col-xs-12">
            <h3>Are there any empty spots?</h3>
            <p>Right now there are 0 empty spots in the garage!</p>
        </div>

        <div class="col-xs-12">
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d4813.440676972426!2d20.945958521887178!3d64.75196088214479!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0x2feefc0a56a61f5d!2sEkorren+Parkeringshus!5e0!3m2!1ssv!2sse!4v1479117395989" 
                    frameborder="0" 
                    style="border:0;width:100%;height:300px;"
                    allowfullscreen>
            </iframe>
        </div>
    </article>
</content>