
@{
    ViewBag.Title = "Error";
}

<h2>Error</h2>

<h4>Oops, something went wrong!</h4>
You can try <a style="cursor: pointer;" onclick="history.go(-1);">going back to the previous page</a> or @Html.ActionLink("returning to the index", "Index").