
@{
    ViewBag.Title = "GenericError";
}

<h2>Error</h2>

Oops, something went wrong! You can try <a href="" onclick="location.reload(true);">refreshing the page</a> or returning to @Html.ActionLink("the index", "Index").