@model IEnumerable<GarageWebbApp2._0.Models.Vehicle>

@{
    ViewBag.Title = "Garage";
}

<header class="col-xs-12">
    <h2 class="col-xs-12 text-center">These are all the vehicles in this garage!</h2>
</header>

<content class="col-xs-12" ng-controller="garage_controller">
    <aside class="col-sm-3 col-xs-12 filter-inputs">
        <h2 class="col-xs-12">Filters</h2>

        <h4>Search for something!</h4>
        <input type="text" name="Search" ng-model="Search" placeholder="Search for" class="col-xs-12" />

        <h4>Select</h4>
        <div class="wrap">
            <input type="checkbox" id="reset-all-filters" checked />
            <label for="reset-all-filters" class="noselect"><span></span>All</label>
        </div>

        <h4>Colors</h4>
        <div class="wrap" ng-repeat="(key, data) in Filters.VehicleColors">
            <input type="checkbox" id="{{key}}" ng-model="filters.VehicleColors[key]" />
            <label for="{{key}}" class="noselect"><span></span>{{key}}</label>
        </div>

        <h4>Timespan</h4>
        <div class="wrap" ng-repeat="(key, data) in Filters.FilterDates">
            <input type="radio" name="dates" id="{{key}}" ng-model="filters.Date" value="{{key}}" />
            <label for="{{key}}" class="noselect"><span></span>{{key}}</label>
        </div>
    </aside>

    <article class="col-sm-8 col-sm-offset-1 col-xs-12 col-xs-offset-0">
        <table class="table col-xs-12">
            <tr class="row">
                <th class="col-xs-4">Registration number</th>
                <th class="col-xs-4">Owner</th>
                <th class="col-xs-3">Vehicle type</th>
                <th class="col-xs-1"></th>
            </tr>

            <tr ng-repeat="data in Vehicles | filter:Search" class="row">
                <td class="col-xs-4"><a href="/Garage/Details/{{data.Vehicle_ID}}">{{data.Vehicle_ID}} <i class="fa fa-external-link" aria-hidden="true"></i></a></td>
                <td class="col-xs-4" ng-bind="data.Owner.Name"></td>
                <td class="col-xs-3" ng-bind="data.VehicleType.Name"></td>
                <td class="col-xs-1"><a href="/Garage/DeleteVehicle/{{data.Vehicle_ID}}" class="RemoveBtn"><i class="fa fa-trash text-danger" aria-hidden="true"></i></a></td>
            </tr>
        </table>
    </article>
</content>